@tailwind base;
@tailwind components;
@tailwind utilities;


.value1{
    background-image: url('../src/assets/Rectangle.png');
    background-repeat: no-repeat;
    /* height: 100vh; */
    background-size: cover;
}

/* .value2{
    background-image: url('../src/assets/value2.png');
    background-repeat: no-repeat;
} */